<div class="row">
    <div class="col-lg-2">
            <input type="text" class="form-control" my-enter="find()" data-ng-model="searchTitle" placeholder="Title"/>
    </div>
    <div class="col-lg-2">
            <input type="text" class="form-control" my-enter="find()" data-ng-model="searchDescription" placeholder="Description"/>
    </div>
    <div class="col-lg-2">
      <div class="input-group">
          <input type="text" class="form-control" my-enter="find()" data-ng-model="searchPlace" placeholder="Place"/>
          <span class="input-group-btn">
              <input type="button" class="btn btn-default" value="Go!" ng-click="find()"/>
          </span>
      </div>
    </div>
</div>
{% include 'partials/offers_display.twig' %}
