<div role="main" class="container theme-showcase">
    <div class="row" style="margin-top: 50px; align=center;">
        <div class="col-lg-7 col-lg-offset-2">
			<center>
			<img src="http://www.cpcc.edu/careerhub/images/find-a-job-main" alt="JobSearch" class="img-rounded">
					<h3><span class="glyphicon glyphicon-search"> </span> A job search engine for job Seekers! </h3>
				</center>
            <div class="input-group">
                <input type="text" class="form-control" my-enter="find()" data-ng-model="searchText"/>
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-primary" value="Go!"ng-click="find()"/>
                    </span>
            </div>
        </div>
    </div>

    <div class="row result" id="result">
    </div>
</div>
