<div role="main" class="container theme-showcase">
    <div class="row" style="margin-top: 250px;">
        <div class="col-lg-7 col-lg-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" my-enter="find()" data-ng-model="searchText"/>
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-default" value="Go!"ng-click="find()"/>
                    </span>
            </div>
        </div>
    </div>

    <div class="row result" id="result">
    </div>
</div>
