<div class="row">
    <div class="col-lg-7">
        <div class="input-group">
            <input type="text" class="form-control" my-enter="find()" data-ng-model="searchText"/>
                <span class="input-group-btn">
                    <input type="button" class="btn btn-default" value="Go!" ng-click="find()"/>
                </span>
        </div>
    </div>
</div>
{% include 'partials/offers.twig' %}
