<table data-ng-hide="loading" class="table table-striped">
   <thead>
      <tr>
         <th>Title</th>
         <th>Description</th>
         <th>Place</th>
      </tr>
   </thead>
   <tbody>
      <tr data-ng-repeat="offer in offers">
         <td><a target="_blank" href="{% raw %}{{ offer.link }}{% endraw %}">{% raw %}{{ offer.title}}{% endraw %}</a></td>
         <td>{% raw %}{{ offer.description }}{% endraw %}</td>
         <td>{% raw %}{{ offer.place }}{% endraw %}</td>
      </tr>
   </tbody>
</table>
